<%- include header.ejs %>
<div class="wrapper">


    <div class="col-md-12">

        <div class="container-body" style="padding:20px;margin:20px">


            <form name="addServiceForm" novalidate ng-submit="!addServiceForm.$valid||service.addService()">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 align="center">Service</h3>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="text" class="form-control" name="name" placeholder="New Category"
                                   ng-model="service.addService.service" ng-required="true">
                        </label>
                        <div class="form-group has-error has-feedback"
                             ng-show="addServiceForm.name.$error.required && submitted==true">
                            <label class="control-label">Name is required</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">

                        <button class="btn btn-primary" ng-click="submitted=true">Add New Service</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- End Content -->


    </div><!--/End Wrapepr-->
</div>